{% extends 'base.html' %}
{% load static %}
{% block navb %}{% endblock navb %}

{% block content %}
<div class="row">
    <img src="static/images/app_img/logo.png">
</div>
<hr>
 <table id="example" class="display table table-striped table-hover border-1 text-center">
    <thead>
        <tr>
            <th>Code</th>
            <th>Article</th>
            <th>Stock</th>
            <th>Stock alerte</th>
            <th>Stock Sécurité</th>
        </tr>
    </thead>
    <tbody>
        {% for article in articles %}
        <tr>
            <td>{{article.code}}</td>
            <td>{{article.name}}</td>
            <td>{{article.stock}}</td>
            <td>{{article.alerte_stock}}</td>
            <td>{{article.alerte_stock}}</td>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}


{% block footer %}{% endblock footer %}


 








