
                    {% for operation in operations %}
                   
                        {{operation.product.code}} <br>
                        {{operation.product.name}} <br>
                        {{operation.mouvement}} <br>
                       {{operation.quantity}} <br>
                        {{operation.service.libelle}} <br>
                        {{operation.demandeur.nom_prenom}} <br>
                        {{operation.create_at}} <br>
                   
                    {% endfor %}
     








